@model System.Collections.Generic.IEnumerable<ElendilEvents.Models.Event>

<html>
<head></head>
    <body>
        <div id="listOfEvents">
            <h1> List of events </h1>
            @if(ViewBag.Unreadable != "")
            {
                <text> Warning! Could not read line numbers: @ViewBag.Unreadable from the csv source. </text>
            }

            @foreach (var currentEvent in Model)
            {
                <h2>@currentEvent.Name </h2>
                foreach(var currentVenue in currentEvent.venues.Values)
                {
                    <h3>@currentVenue.VenueName</h3>
                    foreach(var currentDate in currentVenue.Dates)
                    {
                        <p> @currentDate.When, for @currentDate.Cost </p>
                    }
                    <br />
                }
                <br />

            }



        </div>
    </body>
</html>
